<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>org.health.health.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistributeVaccine</servlet-name>
        <servlet-class>org.health.vaccine.DistributeVaccine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vaccine</servlet-name>
        <servlet-class>org.health.vaccine.Vaccine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showinventory</servlet-name>
        <servlet-class>org.health.vaccine.showinventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventory</servlet-name>
        <servlet-class>org.health.vaccine.Inventory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Vaccinedistribute</servlet-name>
        <servlet-class>org.health.vaccine.Vaccinedistribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statuscheck</servlet-name>
        <servlet-class>org.health.vaccine.Statuscheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registervaccine</servlet-name>
        <servlet-class>org.health.vaccine.Registervaccine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Vaccinedistribute</servlet-name>
        <url-pattern>/Vaccinedistribute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>distribution</servlet-name>
        <jsp-file>/distribution.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>distribution</servlet-name>
        <url-pattern>/distribution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statuscheck</servlet-name>
        <url-pattern>/Statuscheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registervaccine</servlet-name>
        <url-pattern>/Registervaccine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistributeVaccine</servlet-name>
        <url-pattern>/DistributeVaccine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registration</servlet-name>
        <jsp-file>/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vaccine</servlet-name>
        <url-pattern>/Vaccine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showinventory</servlet-name>
        <url-pattern>/showinventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventory</servlet-name>
        <url-pattern>/Inventory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
