<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>org.health.administration.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>org.health.administration.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginValidation</servlet-name>
        <servlet-class>org.user.login.loginValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>org.health.booking.booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HealthCenterAdmin</servlet-name>
        <servlet-class>org.health.health.HealthCenterAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaccineInventory</servlet-name>
        <servlet-class>org.health.vaccine.VaccineInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAuthentication</servlet-name>
        <servlet-class>org.user.login.UserAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patientdata</servlet-name>
        <servlet-class>org.health.administration.Patientdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Emaildata</servlet-name>
        <servlet-class>org.health.administration.Emaildata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Certificatedata</servlet-name>
        <servlet-class>org.health.administration.Certificatedata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginValidation</servlet-name>
        <url-pattern>/loginValidation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <jsp-file>/Myjsps/UserRegistration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/Myjsps/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PatientRegistration</servlet-name>
        <jsp-file>/Myjsps/PatientRegistration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientRegistration</servlet-name>
        <url-pattern>/Myjsps/PatientRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HealthCenterAdmin</servlet-name>
        <url-pattern>/HealthCenterAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaccineInventory</servlet-name>
        <url-pattern>/VaccineInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAuthentication</servlet-name>
        <url-pattern>/UserAuthentication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <jsp-file>/AdminDashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PatientDashboard</servlet-name>
        <jsp-file>/PatientDashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientDashboard</servlet-name>
        <url-pattern>/PatientDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patientdata</servlet-name>
        <url-pattern>/Patientdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Emaildata</servlet-name>
        <url-pattern>/Emaildata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Certificatedata</servlet-name>
        <url-pattern>/Certificatedata</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
